/* Pomodoro timer CSS
 *
 * https://coolors.co/605856-c84d59-fbfcff-c78283-f3d9dc
 */

body {
  background-color: #605856;
  color: #FBFCFF;
  font-family: 'Permanent Marker', cursive;
}

h1 {
  font-size: 4em;
}

#pomodoro {
  background-color: #DB5461;
  width: 100%;
  padding-top: 75%;
  position: relative;
  border: 10px solid #C84D59;
  border-radius: 50%
}

#pomodoro-clock {
  position: absolute;
  top: 50%;
  height: 1.5em;
  right: 0;
  left: 0;
  text-align: center;
  margin-top: -0.75em;
  font-size: 6em;
}

#controls {
  margin-bottom: 12px;
}

#settings {
  margin-top: 12px;
  font-size: 1.25em;
}

.pomodoro-btn {
  display: block;
  width: 100%;
  font-size: 1.5em;
  background-color: #FA7921;
  border: 4px solid #FA7921;
  border-radius: 4px;
  margin-top: 12px;
}

.pomodoro-btn-active {
  background-color: #FE9920;
  border: 4px solid #FA7921;
}

.pomodoro-setting {
  font-size: 1.2em;
}

.setting-btn {
  color: #FA7921;
}

.setting-label {
  color: #B6B6B9;
}
